@font-face {
  font-family: 'Friday13v12';
  src: url('../assets/fonts/Friday13v12.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hind-Light';
  src: url('../assets/fonts/Hind-Light.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}
