@font-face {
  font-family: 'HACKED';
  src: url('../assets/fonts/HACKED.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hind-Light';
  src: url('../assets/fonts/Hind-Light.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}
