@font-face {
  font-family: 'BLKCHCRY';
  src: url('../assets/fonts/BLKCHCRY.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hind-Light';
  src: url('../assets/fonts/Hind-Light.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}
