#bodyCover{
    background-image: url("../assets/img/Death_Ship-1050x700-1.jpg");
}

#head{
    border-radius: 4px;
}

#cell1{
    border-radius: 4px;
}

#img1{
    background-image: url("../assets/img/aa93234d940dcc22899e46b32b86cc2f_thumb_fb.jpg");
    border-radius: 4px;
}

#cell131{
    padding: 30px;
    border-radius: 4px;
}

#cell41{
    border-radius: 4px;
}

#img2{
    background-image: url("../assets/img/d01e6cb3c79fbec7b1ecef3cb235d7da.jpg");
    border-radius: 4px;
}

#cell42{
    border-radius: 4px;
}

#img3{
    background-image: url("../assets/img/15002758651_17_july_2017_i50982_silach_vyacheslav_maksuta_snya.jpg");
    border-radius: 4px;
}

#subTitle{
    text-align: center;
    font-size: 1.25em;
    font-family: Questrial-Regular;
    margin: 0.3em 0px 0.5em;
    color: rgb(228, 228, 228);
}

#h32{
    line-height: 1.2em;
    color: rgb(80, 182, 216);
    font-family: Questrial-Regular;
    margin: 0.3em 0px 0.5em;
}

#mh31{
    line-height: 1.2em;
    color: rgb(80, 182, 216);
    font-family: Questrial-Regular;
    margin: 0.5em 0px 1em;
    text-align: center;
    padding: 0px 30px;
}

#h33{
    line-height: 1.2em;
    color: rgb(80, 182, 216);
    font-family: Questrial-Regular;
    margin: 0.3em 0px 0.5em;
}

#h34{
    line-height: 1.2em;
    color: rgb(80, 182, 216);
    font-family: Questrial-Regular;
    margin: 0px;
}

#h35{
    line-height: 1.2em;
    color: rgb(80, 182, 216);
    font-family: Questrial-Regular;
    margin: 0px;
}

#mainTitle{
    font-family: HACKED;
    font-size: 3em;
    color: rgb(234, 231, 85);
    line-height: 1em;
}

#mainTitleMob{
    color: rgb(234, 231, 85);
    font-family: HACKED;
    line-height: 1em;
}

#h41{
    font-family: Questrial-Regular;
    font-size: 1em;
    color: rgb(234, 231, 85);
}

#p1{
    font-family: Questrial-Regular;
    font-size: 0.9em;
    line-height: 1.3em;
    font-style: oblique;
    color: rgb(228, 228, 228);
}

#p2{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px 0px 0.3em;
}

#mp1{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px 20px;
    margin: 0.5em 0px 1.7em;
}

#p3{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px 0px 0.3em;
}

#h42{
    font-family: Questrial-Regular;
    font-size: 1em;
    color: rgb(234, 231, 85);
}

#p4{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px 0px 0.3em;
}

#p5{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0.3em 0px;
}

#p6{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px 0px 0.3em;
}

#p7{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0.3em 0px;
}

#p8{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px 0px 0.3em;
}

#h44{
    font-family: Questrial-Regular;
    font-size: 1em;
    color: rgb(80, 182, 216);
    margin: 0.3em 0px 0.5em;
}

#p9{
    font-family: Questrial-Regular;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    font-size: 1em;
    color: rgb(228, 228, 228);
    padding: 0px;
    margin: 0px 0px 0.3em;
}

