#head{
    color: rgb(107, 231, 125);
    border-radius: 3px;
}

#cell1{
    border-radius: 3px;
    padding: 20px;
}

#img1{
    background-image: url("../assets/img/aa93234d940dcc22899e46b32b86cc2f_thumb_fb.jpg");
}

#cell131{
    border-radius: 3px;
    padding: 10px;
}

#cell41{
    border-radius: 3px;
}

#img2{
    background-image: url("../assets/img/maxresdsasaaefault.jpg");
}

#cell42{
    border-radius: 3px;
}

#img3{
    background-image: url("../assets/img/Escape-Room-Games-Are-Good-Stress-Relievers.jpg");
}

#subTitle{
    text-align: center;
    color: rgb(230, 230, 230);
    font-size: 1.1em;
    margin: 0em 0px 1em;
    font-family: Hind-Light;
    padding: 0px;
}

#h32{
    font-size: 1.3em;
    line-height: 1.25em;
    letter-spacing: 0.0001em;
    font-family: Hind-Light;
    color: rgb(191, 158, 128);
    padding: 0px;
    margin: 0px;
}

#mh31{
    font-family: Hind-Light;
    color: rgb(191, 158, 128);
    padding: 0px;
    margin: 0px;
}

#h33{
    margin: 0px;
    font-family: Hind-Light;
    color: rgb(191, 158, 128);
    padding: 0px;
}

#h34{
    margin: 0px;
    font-family: Hind-Light;
    color: rgb(191, 158, 128);
    padding: 0px;
}

#h35{
    margin: 0px;
    color: rgb(191, 158, 128);
    font-family: Hind-Light;
    padding: 0px;
}

#mainTitle{
    color: rgb(191, 158, 128);
    font-family: HACKED;
    font-size: 3em;
    letter-spacing: 0.009em;
}

#mainTitleMob{
    font-family: HACKED;
    color: rgb(178, 178, 178);
}

#h41{
    color: rgb(154, 154, 154);
    font-size: 1em;
    font-family: Hind-Light;
    margin: 0em 0px 1em;
    padding: 0px;
}

#p1{
    color: rgb(192, 192, 192);
    font-size: 0.9em;
    line-height: 1.15em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: italic;
}

#p2{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    padding: 0px;
    margin: 0em 0px 0.5em;
}

#mp1{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

#p3{
    color: rgb(230, 230, 230);
    font-size: 1em;
    font-family: Hind-Light;
    line-height: 1.35em;
    padding: 0px;
    margin: 0px;
}

#h42{
    color: rgb(154, 154, 154);
    font-size: 1em;
    line-height: 1.3em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    margin: 1em 0px 0px;
}

#p4{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    margin: 0px;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    padding: 0px;
}

#p5{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

#p6{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

#p7{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

#p8{
    font-family: Hind-Light;
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    padding: 0px;
    margin: 0px;
}

#h44{
    color: rgb(154, 154, 154);
    font-size: 1em;
    line-height: 1.3em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    margin: 0em 0px 0.5em;
}

#p9{
    line-height: 1.35em;
    font-family: Hind-Light;
    padding: 0px;
    margin: 0px;
}

