#head{
    color: rgb(107, 231, 125);
    border-radius: 3px;
}

#cell1{
    border-radius: 3px;
}

#img1{
    background-image: url("../assets/img/aa93234d940dcc22899e46b32b86cc2f_thumb_fb.jpg");
    border-radius: 3px;
}

#cell131{
    border-radius: 3px;
}

#cell41{
    border-radius: 3px;
}

#img2{
    background-image: url("../assets/img/24c976c415c3b90f4fd40249dfa2dddf.jpg");
    border-radius: 3px;
}

#cell42{
    border-radius: 3px;
}

#img3{
    background-image: url("../assets/img/HT6yyUaSWLs.jpg");
    border-radius: 3px;
}

#subTitle{
    text-align: center;
    color: rgb(191, 158, 128);
    font-size: 1.1em;
    margin: 0.5em 0px 0px;
    font-family: Hind-Light;
}

#h32{
    font-size: 1.3em;
    line-height: 1.25em;
    letter-spacing: 0.0001em;
    font-family: Hind-Light;
    color: rgb(191, 158, 128);
}

#mh31{
    font-family: Hind-Light;
    color: rgb(191, 158, 128);
}

#h33{
    margin: 0.5em 0px 0px;
    font-family: Hind-Light;
    color: rgb(191, 158, 128);
}

#h34{
    margin: 0px 0px 0.2em;
    font-family: Hind-Light;
    color: rgb(191, 158, 128);
}

#h35{
    margin: 0px 0px 0.2em;
    color: rgb(191, 158, 128);
}

#mainTitle{
    color: rgb(192, 192, 192);
    font-family: BLKCHCRY;
    font-size: 2em;
    letter-spacing: 0.009em;
}

#mainTitleMob{
    font-family: BLKCHCRY;
}

#h41{
    color: rgb(204, 113, 227);
    font-size: 1em;
    font-family: Hind-Light;
}

#p1{
    color: rgb(192, 192, 192);
    font-size: 0.9em;
    line-height: 1.15em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: italic;
}

#p2{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
}

#mp1{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
}

#p3{
    color: rgb(230, 230, 230);
    font-size: 1em;
    font-family: Hind-Light;
    line-height: 1.35em;
}

#h42{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.3em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
}

#p4{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    margin: 0px 0px 0.2em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
}

#p5{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
}

#p6{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
    margin: 0px 0px 0.2em;
}

#p7{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
}

#p8{
    font-family: Hind-Light;
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.35em;
}

#h44{
    color: rgb(230, 230, 230);
    font-size: 1em;
    line-height: 1.3em;
    font-family: Hind-Light;
    font-weight: 100;
    font-style: normal;
}

#p9{
    line-height: 1.35em;
}

